<div class="container container-padding">
  <div class="special-products">
    <div class="page-header">
      <h2>Featured products</h2>
    </div>
    <div class="special-products-pro">
      <div class="slider-items-products">
        <div id="special-products-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col4 owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
              <div class="owl-wrapper" style="width: 3348px; left: 0px; display: block;">
                <div class="owl-item" style="width: 279px;">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area">
                          <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure>
                              <img class="first-img" src="images/products/img01.jpg" alt="">
                              <img class="hover-img" src="images/products/img01.jpg" alt="">
                            </figure>
                          </a>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a>
                          </div>
                          <div class="item-content">
                            <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                            <div class="item-price">
                              <div class="price-box">
                                <span class="regular-price">
                                  <span class="price">$125.00</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 279px;">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area">
                          <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure>
                              <img class="first-img" src="images/products/img01.jpg" alt="">
                              <img class="hover-img" src="images/products/img01.jpg" alt="">
                            </figure>
                          </a>
                          <button type="button" class="add-to-cart-mt">
                            <i class="fa fa-shopping-cart"></i>
                            <span> Add to Cart</span>
                          </button>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button add_to_wishlist">
                              <a href="wishlist.html">
                                <i class="fa fa-heart"></i>
                              </a>
                            </div>
                            <div class="mt-button add_to_compare">
                              <a href="compare.html">
                                <i class="fa fa-signal"></i>
                              </a>
                            </div>
                            <div class="mt-button quick-view">
                              <a href="quick_view.html">
                                <i class="fa fa-search"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a>
                          </div>
                          <div class="item-content">
                            <div class="rating">
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                            <div class="item-price">
                              <div class="price-box">
                                <p class="special-price">
                                  <span class="price-label">Special Price</span>
                                  <span class="price"> $456.00 </span>
                                </p>
                                <p class="old-price">
                                  <span class="price-label">Regular Price:</span>
                                  <span class="price"> $567.00 </span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 279px;">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area">
                          <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure>
                              <img class="first-img" src="images/products/img01.jpg" alt="">
                              <img class="hover-img" src="images/products/img01.jpg" alt="">
                            </figure>
                          </a>
                          <button type="button" class="add-to-cart-mt">
                            <i class="fa fa-shopping-cart"></i>
                            <span> Add to Cart</span>
                          </button>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button add_to_wishlist">
                              <a href="wishlist.html">
                                <i class="fa fa-heart"></i>
                              </a>
                            </div>
                            <div class="mt-button add_to_compare">
                              <a href="compare.html">
                                <i class="fa fa-signal"></i>
                              </a>
                            </div>
                            <div class="mt-button quick-view">
                              <a href="quick_view.html">
                                <i class="fa fa-search"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a>
                          </div>
                          <div class="item-content">
                            <div class="rating">
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                            <div class="item-price">
                              <div class="price-box">
                                <p class="special-price">
                                  <span class="price-label">Special Price</span>
                                  <span class="price"> $456.00 </span>
                                </p>
                                <p class="old-price">
                                  <span class="price-label">Regular Price:</span>
                                  <span class="price"> $567.00 </span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 279px;">
                  <div class="product-item">
                    <div class="item-inner">

                      <div class="product-thumbnail">
                        <div class="pr-img-area">
                          <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure>
                              <img class="first-img" src="images/products/img01.jpg" alt="">
                              <img class="hover-img" src="images/products/img01.jpg" alt="">
                            </figure>
                          </a>
                          <button type="button" class="add-to-cart-mt">
                            <i class="fa fa-shopping-cart"></i>
                            <span> Add to Cart</span>
                          </button>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button add_to_wishlist">
                              <a href="wishlist.html">
                                <i class="fa fa-heart"></i>
                              </a>
                            </div>
                            <div class="mt-button add_to_compare">
                              <a href="compare.html">
                                <i class="fa fa-signal"></i>
                              </a>
                            </div>
                            <div class="mt-button quick-view">
                              <a href="quick_view.html">
                                <i class="fa fa-search"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a>
                          </div>
                          <div class="item-content">
                            <div class="rating">
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                            <div class="item-price">
                              <div class="price-box">
                                <span class="regular-price">
                                  <span class="price">$125.00</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 279px;">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="icon-new-label new-left">New</div>
                        <div class="pr-img-area">
                          <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure>
                              <img class="first-img" src="images/products/img01.jpg" alt="">
                              <img class="hover-img" src="images/products/img01.jpg" alt="">
                            </figure>
                          </a>
                          <button type="button" class="add-to-cart-mt">
                            <i class="fa fa-shopping-cart"></i>
                            <span> Add to Cart</span>
                          </button>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button add_to_wishlist">
                              <a href="wishlist.html">
                                <i class="fa fa-heart"></i>
                              </a>
                            </div>
                            <div class="mt-button add_to_compare">
                              <a href="compare.html">
                                <i class="fa fa-signal"></i>
                              </a>
                            </div>
                            <div class="mt-button quick-view">
                              <a href="quick_view.html">
                                <i class="fa fa-search"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a>
                          </div>
                          <div class="item-content">
                            <div class="rating">
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                            <div class="item-price">
                              <div class="price-box">
                                <p class="special-price">
                                  <span class="price-label">Special Price</span>
                                  <span class="price"> $456.00 </span>
                                </p>
                                <p class="old-price">
                                  <span class="price-label">Regular Price:</span>
                                  <span class="price"> $567.00 </span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 279px;">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="pr-img-area">
                          <a title="Ipsums Dolors Untra" href="single_product.html">
                            <figure>
                              <img class="first-img" src="images/products/img01.jpg" alt="">
                              <img class="hover-img" src="images/products/img01.jpg" alt="">
                            </figure>
                          </a>
                          <button type="button" class="add-to-cart-mt">
                            <i class="fa fa-shopping-cart"></i>
                            <span> Add to Cart</span>
                          </button>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button add_to_wishlist">
                              <a href="wishlist.html">
                                <i class="fa fa-heart"></i>
                              </a>
                            </div>
                            <div class="mt-button add_to_compare">
                              <a href="compare.html">
                                <i class="fa fa-signal"></i>
                              </a>
                            </div>
                            <div class="mt-button quick-view">
                              <a href="quick_view.html">
                                <i class="fa fa-search"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <a title="Ipsums Dolors Untra" href="single_product.html">Ipsums Dolors Untra </a>
                          </div>
                          <div class="item-content">
                            <div class="rating">
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                            <div class="item-price">
                              <div class="price-box">
                                <span class="regular-price">
                                  <span class="price">$125.00</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-controls clickable">
              <div class="owl-buttons">
                <div class="owl-prev">
                  <a class="flex-prev"></a>
                </div>
                <div class="owl-next">
                  <a class="flex-next"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>