<div class="container">
  <h1>Edit Profile</h1>
  <hr>
<div class="row">

    
    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div>
      <h3>Personal info</h3>
      <form class="form-horizontal" action="javascript:;" [formGroup]="myForm" novalidate (ngSubmit)="update(myForm.value, myForm.valid)">
     
        <div class="form-group">
          <label class="col-lg-3 control-label">First Name</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="f_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last Name</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="l_name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Address</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="address">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Landmark</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="landmark">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Pincode</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="pincode">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">City</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="city">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">State</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="state">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Country</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="country">
          </div>
        </div>
          
        
      </form>
    </div>
</div>
</div>
<hr>