<div class="top-cart-contain">
  <div class="mini-cart">
    <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
      <a href="#">
        <div class="cart-icon">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="shoppingcart-inner hidden-xs">
          <span class="cart-title">Cart</span>
          <span class="cart-total">{{itemCount}} Item(s)</span>
        </div>
      </a>
    </div>
    <div>
      <div class="top-cart-content">
        <div class="block-subtitle hidden-xs">Recently added item(s)</div>
        <ul id="cart-sidebar" class="mini-products-list" *ngFor = "let item of cartItems">
          <li class="item odd">
            <a href="shopping_cart.html" title="Ipsums Dolors Untra" class="product-image">
              <img src="assets/img/ecommerce/images/products/img01.jpg" alt="Lorem ipsum dolor" width="65">
            </a>
            <div class="product-details">
              <a href="#" title="Remove This Item" class="remove-cart">
                <i class="icon-close"></i>
              </a>
              <p class="product-name">
                <a href="shopping_cart.html">{{item.product.prod_name}}</a>
              </p>
              <strong>{{item.quantity}}</strong> x
              <span class="price">{{item.product.price}}</span>
            </div>
          </li>
        </ul>
        <div class="top-subtotal">Subtotal:
          <span class="price">{{(obCart | async).grossTotal}}</span>
        </div>
        <div class="actions">
          <button type="button"
                  class="btn btn-danger"
                  [disabled]="itemCount === 0 ? true : null"
                  (click)="emptyCart()">
            <span>Empty Cart</span>
          </button>
          <button class="btn btn-success" type="button" (click)="viewCart(cartItems)">
            <i class="fa fa-shopping-cart"></i>
            <span>View Cart</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>